@model InstructorDepartmentCourseViewModel

@{
    SelectList courses = new SelectList(Model.courses, "Id", "CrsName");
    SelectList depts = new SelectList(Model.departments, "Id", "DeptName");
}
<h1 class="text-dark"> Add New Instructor</h1>

<form method="post" enctype="multipart/form-data" action="/Instructor/saveNew">
    <div class="form-group mt-2 text-start">
        <label for="Ins_Name" class="text-dark">Name</label>
        <input asp-for="instName" class="form-control" placeholder="Instructor Name">
        <span asp-validation-for="instName" class="text-danger"></span>
    </div>
    <div class="form-group mt-2 text-start">
        <label for="Ins_Name" class="text-dark">Salary</label>
        <input type="number" name="salary" id="Salary" class="form-control" placeholder="Salary">
        <span asp-validation-for="salary" class="text-danger"></span>
    </div>
    <div class="form-group mt-2 text-start">
        <label for="Ins_address" class="text-dark">Address</label>
        <input asp-for="address" class="form-control" placeholder="Address">
        <span asp-validation-for="address" class="text-danger"></span>
    </div>
    <div class="form-group mt-2 text-start">
        <label for="InsImage" class="text-dark">Image</label>
        <input asp-for="imageFile" class="form-control">
        <span asp-validation-for="imageFile" class="text-danger"></span>
    </div>
    <div class="form-group mt-2 text-start">
        <label for="InsCourse" class="text-dark">Course</label>
         <select asp-for="crs_id" asp-items ="courses" class="form-control">

         </select>
        <span asp-validation-for="crs_id" class="text-danger"></span>
    </div>
    <div class="form-group mt-2 text-start">
        <label for="InsDept" class="text-dark">Department</label>
        <select asp-for = "depId" asp-items ="depts" class="form-control">

        </select>
        <span asp-validation-for="depId" class="text-danger"></span>
    </div>

    <input type="submit" value="Create" class="btn btn-primary m-3 m-auto" />
</form>
