@model InstructorDepartmentCourseViewModel

<h1 class="text-dark"> Add New Instructor</h1>

<form method="post" enctype="multipart/form-data" action="/Instructor/saveNew" >
    <div class="form-group mt-2 text-start">
        <label for="Ins_Name" class="text-dark">Name</label>
        <input asp-for="instName" class="form-control" placeholder="Instructor Name">
        <span asp-validation-for="instName" class="text-danger"></span>
    </div>
    <div class="form-group mt-2 text-start">
        <label for="Ins_Name" class="text-dark">Salary</label>
        <input type="number" name="salary" id="Salary" class="form-control" placeholder="Salary">
        <span asp-validation-for="salary" class="text-danger"></span>
    </div>
    <div class="form-group mt-2 text-start">
        <label for="Ins_address" class="text-dark">Address</label>
        <input asp-for="address" class="form-control" placeholder="Address">
        <span asp-validation-for="address" class="text-danger"></span>
    </div>
    <div class="form-group mt-2 text-start">
        <label for="InsImage" class="text-dark">Image</label>
        <input asp-for="imageFile" class="form-control">
        <span asp-validation-for="imageFile" class="text-danger"></span>
    </div>
    <div class="form-group mt-2 text-start">
        <label for="InsDept" class="text-dark">Department</label>
        <select asp-for="depId" id="deptId" class="form-control" onchange="getCourseData()">
            <option value="0"> -- Select Department --</option>
            @foreach(Department dept in Model.departments)
            {
                <option value = "@dept.Id">@dept.DeptName</option>
            }
        </select>
        <span asp-validation-for="depId" class="text-danger"></span>
    </div>
    <div class="form-group mt-2 text-start">
        <label for="ins" class="text-dark">Courses</label>
        <select asp-for= "crs_id" id="instCourses" class="form-control">

        </select>
        <span asp-validation-for="crs_id" class="text-danger"></span>
    </div>
    
    <br/>
    <br/>
    <input type="submit" value="Create" class="btn btn-primary m-3 m-auto w-25" />
</form>
@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js">
    </script>
   <script>
        function getCourseData() {
            var deptID = $("#deptId").val();
            event.preventDefault();
            $("#instCourses").html("");
            $.ajax({
                url: "/Course/getAllCoursesByDeptID",
                data: {"deptID" : deptID},
                success: function(result){
                        for(let item of result){
                            $("#instCourses").append("<option value="+item.id+">"+item.crsName+"</option>");
                        }
                        console.log(result);
                    },
                    });
       }
   </script>
}